extends ./layout/index

block content
  main.container.mt-5
    h1.text-center.mt-5 #{ pagina }
    blockquote.text-center Read about experiencies from our customers
    .row.testimonials
      each testimonial in testimonials 
        .col-md-6.col-lg-4.mb-4
          .card 
            |
            .card-body 
              |
              blockquote.blockquote
              p.mb-0 
                |
                | #{ testimonial.message }
              footer.blockquote-footer
                | #{ testimonial.name }
    .row
      .col-md-12
        h2.d-block.w-100.text-center Add a testimonial

        if (errors)
          each error in errors 
            .alert.col.alert-danger.text-center= error.message

      .row.justify-content-center.col
        .col-md-8 
          |
          form(action="", method="POST")
            .form-group
              label(for="nombre") Name
              input#nombre.form-control(
                type="text",
                placeholder="Your name here",
                name="nombre",
                value=nombre
              )
            .form-group 
              |
              label(for="correo") Email
              input#correo.form-control(
                type="text",
                placeholder="Your email here",
                name="correo",
                value=correo
              )
            .form-group 
              |
              label(for="mensaje") Message
              textarea#mensaje.form-control(
                type="text",
                placeholder="Your message here",
                name="mensaje",
                rows=3
              )= mensaje
            input.btn.btn-success.btn-block(
              type="submit",
              value="Send Message"
            )

  script(src="/reload/reload.js") 
